
.bg-mn-orange {
    background-color: #FA5810 !important;
}

.bg-black {
    background-color: black !important;
}

.bg-loc-blue {
    background-color: #194aec !important;
}

.bg-hard-gray {
    background-color: #5c5c5c !important;
}



