@import url(general.css);

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    height: 100%;
}

.headerTitle {
    background-image: url("../image/image1.png");
    background-color: #cccccc;
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container .row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  }

.headerTitleLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 0;
    color: #E5E5E5;
    
}

.headerTitleLeft > h5 {
    opacity: 0.60;
}

.headerTitleRightContainer{
    padding: 0 0 0 0;
    color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerTitleRight{
    padding: 0 0 0 0;
    color: #E5E5E5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.headerTitleRight3 {
    width: 100%;
}
.headerTitleRight3 button{
    color: #E5E5E5;
    background: #E64342;
    border-radius: 5px;
    width: 100%;
    border: none;
    border-color: none;
}

.headerTitleRight3Detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.headerTitleRight3Detail p {
    margin: 0 0 0 1rem;
}

.item {
    background-color: pink;
    width: 100%;
}
.containerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.containerIcon img{
    height: 100%;
    width: 100%;
}