
/* Margin: 6px */

.mx-6px {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.my-6px {
    margin-top: 6px !important;
    margin-bottom: 6px !important;   
}

.mr-6px {
    margin-right: 6px !important;
}

.ml-6px {
    margin-left: 6px !important;
}

.mt-6px {
    margin-top: 6px !important;
}

.mb-6px {
    margin-bottom: 6px !important;
}

/* Margin: 8px */

.mx-8px {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.my-8px {
    margin-top: 8px !important;
    margin-bottom: 8px !important;   
}

.mr-8px {
    margin-right: 8px !important;
}

.ml-8px {
    margin-left: 8px !important;
}

.mt-8px {
    margin-top: 8px !important;
}

.mb-8px {
    margin-bottom: 8px !important;
}

/* Margin: 9px */

.mx-9px {
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.my-9px {
    margin-top: 9px !important;
    margin-bottom: 9px !important;   
}

.mr-9px {
    margin-right: 9px !important;
}

.ml-9px {
    margin-left: 9px !important;
}

.mt-9px {
    margin-top: 9px !important;
}

.mb-9px {
    margin-bottom: 9px !important;
}

/* Margin: 10px */

.mx-10px {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.my-10px {
    margin-top: 10px !important;
    margin-bottom: 10px !important;   
}

.mr-10px {
    margin-right: 10px !important;
}

.ml-10px {
    margin-left: 10px !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}

/* Margin: 12px */

.mx-12px {
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.my-12px {
    margin-top: 12px !important;
    margin-bottom: 12px !important;   
}

.mr-12px {
    margin-right: 12px !important;
}

.ml-12px {
    margin-left: 12px !important;
}

.mt-12px {
    margin-top: 12px !important;
}

.mb-12px {
    margin-bottom: 12px !important;
}