
/* Padding: 6px */

.px-6px {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.py-6px {
    padding-top: 6px !important;
    padding-bottom: 6px !important;   
}

.pr-6px {
    padding-right: 6px !important;
}

.pl-6px {
    padding-left: 6px !important;
}

.pt-6px {
    padding-top: 6px !important;
}

.pb-6px {
    padding-bottom: 6px !important;
}

/* Padding: 12 px */

.px-12px {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.py-12px {
    padding-top: 12px !important;
    padding-bottom: 12px !important;   
}

.pr-12px {
    padding-right: 12px !important;
}

.pl-12px {
    padding-left: 12px !important;
}

.pt-12px {
    padding-top: 12px !important;
}

.pb-12px {
    padding-bottom: 12px !important;
}